@using MYRESTAURANT.Models.Classes;
@model List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<br />
<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CustomerID</td>
            <td>@x.CustomerName</td>
            <td>@x.CustomerSurName</td>
            <td>@x.CustomerMail</td>
            <td><a href="/Customers/DeleteCustomers/@x.CustomerID" class="btn btn-danger">Sil</a></td>


            <td><a href="/Customers/CallCustomers/@x.CustomerID" class="btn btn-success">Güncelle</a></td>
        </tr>


    }
</table>



