@model MYRESTAURANT.Models.Classes.Category 
@{
    ViewBag.Title = "CallCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName)
        @Html.HiddenFor(x=> x.CategoryID)
    </div>
    
    <button  class="btn btn-outline-warning">Güncelle</button>
}

